<div id="main" class="page-login forgotten">
    <div id="login-box">
        <div id="login-box-logo">
            <img src="{{ header_logo_src }}" title="{{ header_logo_title }}" />
            <p>{{ header_logo_cmsver }}</p>
        </div>
        <div id="login-box-content">
            <p>{{ content|raw }}</p>
            {{ forgotten_form|raw }}
            <p>{{ forgotten_message }}</p>
        </div>
    </div>
</div>
