<div id="main" class="page-login">
	<div id="login-box">
		<div id="login-box-logo">
			<img src="{{ header_logo_src }}" title="{{ header_logo_title }}" />
			<p>{{ header_logo_cmsver }}</p>
		</div>
		<div id="login-box-content">
			{{ flash_message|raw }}
			<p>{{ content|raw }}</p>
			{{ login_form|raw }}
			<p id="forgotten-password">{{ forgotten_password|raw }}</p>
		</div>
	</div>
</div>
