<div id="main" class="page-login reset">
    <div id="login-box">
        <div id="login-box-logo">
            <img src="{{ header_logo_src }}" title="{{ header_logo_title }}" />
            <p>{{ header_logo_cmsver }}</p>
        </div>
        <div id="login-box-content">
            <p>{{ content|raw }}</p>
            {{ forgotten_form|raw }}
            {% if btn_login_text is defined %}
                <a class="button" href="{{ btn_login_href }}">{{ btn_login_text }}</a>
            {% endif %}
            {% if btn_forgotten_text is defined %}
                <a class="button" href="{{ btn_forgotten_href }}">{{ btn_forgotten_text }}</a>
            {% endif %}
            <p>{{ forgotten_message }}</p>
        </div>
    </div>
</div>
