<div id="main" class="page-users_index">
    {{ breadcrumbs|raw }}
    {{ flash_message|raw }}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="module-head">
                        <h1>{{ title }}</h1>
                        <a href="{{ create_user_href }}" class="button"><i class="fas fa-plus-square"></i><span>{{ create_user_text }}</span></a>
                    </div>
                    <p>{{ content|raw }}</p>
                    <div id="module-list">
                        {% if users is defined and users %}
                            <table>
                                <tr>
                                    <th>UID</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Level</th>
                                    <th class="control-button"></th>
                                </tr>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.uid }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.level }}</td>
                                        <td class="control-button">
                                            {% if user.edit %}
                                                <a href="{{ manage_user_href ~ user.uid }}" class="button manage" title="Edit User"><i class="fas fa-edit"></i><span>{{ manage_user_text }}</span></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <p id="module-list-empty">No Users to display</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

