<div id="main" class="page-user">
    {{ breadcrumbs|raw }}
    {{ flash_message|raw }}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ title }}</h1>
                    <div id="page-head" class="head">
                        {% if remove_form is defined %}
                            {{ remove_form|raw }}
                        {% endif %}
                    </div>
                    {{ form|raw }}
                </div>
            </div>
        </div>
    </section>
</div>
