<div id="main" class="page-modules">
    {{ breadcrumbs|raw }}
    {{ flash_message|raw }}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ title }}</h1>
                    <p>{{ content|raw }}</p>
                    <div id="page-head" class="head">
                        {% if remove_form is defined %}
                            {{ remove_form|raw }}
                        {% endif %}
                    </div>
                    {{ form|raw }}
                    {% if fields is defined %}
                        <div id="field-list">
                            <div class="head">
                                <a href="{{ create_field_href }}" class="button"><i class="fas fa-plus-square"></i>{{ create_field_text }}</a>
                            </div>
                            <table data-sort="{{ fields_sort_href }}">
                                {% if fields is not empty %}
                                    <thead>
                                        <tr>
                                            <th>Field Title</th>
                                            <th>DB Slug</th>
                                            <th>Type</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for field in fields %}
                                            <tr id="position_{{ field.mfid }}">
                                                <td>{{ field.title }}</td>
                                                <td>{{ field.dbslug }}</td>
                                                <td>{{ field.type }}</td>
                                                <td><i class="sort-handle fas fa-sort" title="Reposition Item"></i></td>
                                                <td><a href="{{ manage_field_href ~ field.mfid }}" class="button manage" title="Edit Item"><i class="far fa-edit"></i><span>{{ manage_field_text }}</span></a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                {% else %}
                                    <p id="no-items">{{ no_fields_message }}</p>
                                {% endif %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
