		<footer>
			<div id="footer-contact-bar">
				<div class="container">
					<p>Send us an email at <a href="mailto:{{ footer_contact_email }}">{{ footer_contact_email }}</a> or use our <a href="/contact">Enquiry Form</a> to get in touch!</p>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-7">
						{% if footer_links is defined and footer_links is not empty %}
							<div id="footer-links">
								{% for footer_link in footer_links %}
									<a href="{{ footer_link.href }}">{{ footer_link.title }}</a>
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div class="col-md-4 col-5">
						<p id="footer-copyright">{{ footer_copy_text|raw }}</p>
					</div>
				</div>
			</div>
		</footer>
		{% if libraries is defined %}
			{% if libraries.scripts is defined %}
				{% for library_script in libraries.scripts %}
					<script src="{{ library_script }}"></script>
				{% endfor %}
			{% endif %}
		{% endif %}
		{% if scripts is defined %}
			{% for script in scripts %}
				<script src="{{ script }}"></script>
			{% endfor %}
		{% endif %}
	</body>
</html>
