<section id="pagination">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if pagination_items is defined and pagination_items is not empty %}
                    <ul>
                        <li id="pagination-previous">
                            {% set prev = '<i class="fas fa-angle-left"></i> Prev' %}
                            {% if pagination_previous %}
                                <a href="{{ pagination_previous }}">{{ prev|raw }}</a>
                            {% else %}
                                <span>{{ prev|raw }}</span>
                            {% endif %}
                        </li>
                        {% for pagination_item in pagination_items %}
                            <li {% if pagination_item.current %}class="current"{% endif %}>
                                <a href="{{ pagination_item.href }}">{{ pagination_item.text }}</a>
                            </li>
                        {% endfor %}
                        <li id="pagination-next">
                            {% set next = '<i class="fas fa-angle-right"></i> Next' %}
                            {% if pagination_next %}
                                <a href="{{ pagination_next }}">{{ next|raw }}</a>
                            {% else %}
                                <span>{{ next|raw }}</span>
                            {% endif %}
                        </li>
					</ul>
                {% endif %}
                <p id="pagination-total">{{ pagination_total }}</p>
            </div>
        </div>
    </div>
</section>
