<div id="main" class="page-configuration_creategroup">
    {{ breadcrumbs|raw }}
    {{ flash_message|raw }}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ title }}</h1>
                    <div id="page-head" class="head">
                        {% if remove_form is defined %}
                            {{ remove_form|raw }}
                        {% endif %}
                    </div>
                    {{ form|raw }}
                    {% if fields is defined %}
                        <div id="field-list">
                            <div class="head">
                                <a href="{{ create_config_field_href }}" class="button"><i class="fas fa-plus-square"></i>Create Configuration Field</a>
                            </div>
                            <table>
                                {% if fields is not empty %}
                                    <tr>
                                        <th>Field Title</th>
                                        <th>DB Slug</th>
                                        <th>Type</th>
                                        <th></th>
                                    </tr>
                                    {% for field in fields %}
                                        <tr>
                                            <td>{{ field.title }}</td>
                                            <td>{{ field.dbslug }}</td>
                                            <td>{{ field.type }}</td>
                                            <td><a href="{{ field.manage_config_field_href }}" class="button manage"><i class="far fa-edit"></i><span>Manage</span></a></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <p id="no-items">No Fields to show</p>
                                {% endif %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
