<div id="main">
    <section>
        <div class="container">
            <h1>{{ title }}</h1>
            <a class="button" href="{{ create_url }}">Create Property</a>
            <table>
                <tr>
                    <th>Address</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for property in properties %}
                    <tr>
                        <td>{{ property.address }}</td>
                        <td><a class="button" href="{{ edit_url }}{{ property.pid }}">Edit</a></td>
                        <td><a class="button" href="{{ remove_url }}{{ property.pid }}">Remove</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</div>