<div id="main" class="page-module_index">
    {{ breadcrumbs|raw }}
    {{ flash_message|raw }}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="module-head">
                        <h1>{{ title }}</h1>
                        <a href="{{ create_item_href }}" class="button" title="{{ create_item_text }}"><i class="fas fa-plus-square"></i><span>{{ create_item_text }}</span></a>
                    </div>
                    <p>{{ content|raw }}</p>
                    <div id="module-list">
                        {{ filterbar|raw }}
                        {% if items is defined and items is not empty %}
                            <table>
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    {% if items_headers is defined %}
                                        {% for items_head in items_headers %}
                                            <th>{{ items_head }}</th>
                                        {% endfor %}
                                    {% endif %}
                                    <th class="control">Live</th>
                                    <th class="control">Lock</th>
                                    <th class="control-button"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item_id,item in items %}
                                    <tr class="{{ item.classes }}">
                                        <td>{{ item.title }}</td>
                                        {% if items_headers is defined %}
                                            {% for field in item.fields %}
                                                <td>{{ field }}</td>
                                            {% endfor %}
                                        {% endif %}
                                        <td class="control">{{ item.toggle_live_item_form|raw }}</td>
                                        <td class="control">{{ item.toggle_lock_item_form|raw }}</td>
                                        <td class="control-button"><a href="{{ manage_item_href ~ item_id }}" class="button manage" title="{{ manage_item_text }}"><i class="fas fa-edit"></i><span>{{ manage_item_text }}</span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p id="module-list-empty">{{ empty }}</p>
                        {% endif %}
                    </div>
                    {{ pagination|raw }}
                </div>
            </div>
        </div>
    </section>
</div>
