<div id="main" class="page-module_item">
    {{ breadcrumbs|raw }}
    {{ flash_message|raw }}
	<section>
		<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ title }}</h1>

                    <div id="page-head" class="head">
                        {% if remove_form is defined and remove_form %}
                            {{ remove_form|raw }}
                        {% endif %}
                        {% if restore_form is defined and restore_form %}
                            {{ restore_form|raw }}
                        {% endif %}
                    </div>

                    {{ form|raw }}
                </div>
            </div>
		</div>
	</section>
</div>
