<div id="main" class="page page-home">
    <section>
        {%  if homepage_areas is defined and homepage_areas is not empty %}
            <div id="home-services" style="background-image:url('{{ homepage_areas_bg }}');">
                <div class="container">
                    <div class="row">
                        {% for area in homepage_areas %}
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="service">
                                    <div class="inner">
                                        <h2>{{ area.title }}</h2>
                                        <p>{{ area.snippet }}</p>
                                        {% if area.href %}<a href="{{ area.href }}" class="button">Read More</a>{% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
    {#<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ title }}</h1>
                    <div class="dyn-content">
						{{ content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>#}
</div>
