<div id="{{ widget_name }}" class="widget col-md-3 col-sm-4 col-6">
	<a class="widget-inner" href="{{ url }}">
		<p class="widget-title"><i class="{{ icon }}"></i>{{ widget_title }}</p>
		<p class="widget-content">{{ count_all }}</p>
	</a>
</div>
